<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자료 수정</title>
</head>
<body>
    <h1>자료 수정</h1>

    <form th:action="@{/mypage/activity/materials/{materialId}/update(materialId=${materialUpdateRequest.materialId})}" th:object="${materialUpdateRequest}" method="post">
        <input type="hidden" name="_method" value="put" />
        <input type="hidden" th:field="*{materialId}" />

        <div>
            <label for="title">제목</label>
            <input type="text" id="title" th:field="*{title}" required>
        </div>
        <div>
            <label for="content">설명</label>
            <textarea id="content" th:field="*{content}" required></textarea>
        </div>
        <div>
            <label for="price">가격</label>
            <input type="number" id="price" th:field="*{price}" required>
        </div>
        <div>
            <label for="isDeleted">삭제 여부</label>
            <input type="checkbox" id="isDeleted" th:field="*{isDeleted}">
        </div>

        <button type="submit">수정하기</button>
    </form>

    <form th:action="@{/mypage/activity/materials/{materialId}/delete(materialId=${materialUpdateRequest.materialId})}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="hidden" name="materialId" th:value="${materialUpdateRequest.materialId}" />
        <button type="submit">삭제하기</button>
    </form>

</body>
</html>