<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/fragments/admin_layout :: layout(~{::title}, ~{::head-extra}, ~{::content}, ~{::body-extra})}">
<head>
    <title>관리자 - 재능 관리</title>
    <th:block th:fragment="head-extra">
        <!-- 이 페이지에만 필요한 추가 CSS/JS -->
    </th:block>
</head>
<body>
    <th:block th:fragment="content">
        <div class="container">
            <h1>재능 관리</h1>
            <!-- 재능 관리 내용 -->
        </div>
    </th:block>
    <th:block th:fragment="body-extra">
        <!-- 이 페이지에만 필요한 추가 JS -->
    </th:block>
</body>
</html>