<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="~{::title}">기본 제목</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <th:block th:replace="~{::head-extra}"></th:block>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container">
        <th:block th:replace="~{::content}"></th:block>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <th:block th:replace="~{::body-extra}"></th:block>
</body>
</html>
